.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  background-color: #3f51b5;
  color: #fff;
  padding: 25px 50px;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.itemMenu {
  cursor: pointer;
  color: #fff;
  text-decoration: 2px underline;
}

.itemMenu:hover {
  color: #c2c2c2;
}